{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>Cats List</h1>
  {% if cat_list %}
  <ul>
    {% for cats in cat_list %}
      <li>
          {{ cats.nickname }} ({{ cats.breed }})
          (<a href="{% url 'cats:cats_update' cats.id %}">Update</a> |
          <a href="{% url 'cats:cats_delete' cats.id %}">Delete</a>) <br/>
          <!--Food -> ({{ cats.foods }}), Weight-> ({{ cats.weight }} Kgs)-->
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no cats in the library.</p>
  {% endif %}
  <p>
    {% if breed_count > 0 %}
      <a href="{% url 'cats:cats_create' %}">Add a cat</a>
    {% else %}
      Please add a breed before you add an cat.
    {% endif %}
  </p>
  <p>
  <a href="{% url 'cats:breed_list' %}">View breeds</a> ({{ breed_count }}) |
    <a href="{% url 'cats:breed_create' %}">Add a breed</a>
  </p>
{% endblock %}